* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
}

header {
    background-color: cadetblue;
}

header nav ul {
    margin: 0;
    padding: 2rem;
}

header nav ul li {
    list-style-type: none;
    display: inline;
    padding-right: 2rem;
}

header nav ul li a {
    color: azure;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

iframe {
    width: 100%;
    height: 100vh;
}

audio {
    background-color: beige;
}

table{
    border-collapse: collapse ;
}

thead{
    background-color: rgb(251, 215, 148);
}

th, td{
    border: 1px solid black;
    padding: 0.5rem;
}

td{
    text-align: center;
}

/* .row-pink{
    background-color: rgb(255, 227, 232);
}

.row-gray{
    background-color: rgb(183, 183, 183);
} */

/* Para los hijos impares */
tbody tr:nth-child(odd) {
    /* tr:nth-child(2n+1) */
    background-color: rosybrown;
}
/* Para los hijos pares */
tbody tr:nth-child(even) {
    /* tr:nth-child(2n) */
    background-color: silver;
}

